name: test

on: push

jobs:
  test-ios-basic-build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - run: yarn
      - run: npm pack
      - run: yarn
        working-directory: e2e/basic
      - run: yarn add ../../*.tgz
        working-directory: e2e/basic
      - run: pod install
        working-directory: e2e/basic/ios
      - run: yarn rnuc .env
        working-directory: e2e/basic
      - run: xcodebuild -workspace basic.xcworkspace -scheme basic -configuration Debug -sdk iphonesimulator -derivedDataPath build
        working-directory: e2e/basic/ios
      - run: ./scripts/assert-ios-plist.sh basic/ios basic "CFBundleDisplayName" "Basic Test"
        working-directory: e2e
      - run: ./scripts/assert-ios-plist.sh basic/ios basic "CFBundleIdentifier" "rnuc.basic"
        working-directory: e2e

  test-android-basic-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: sudo apt-get update
      - run: sudo apt-get install -y libxml2-utils
      - run: yarn
      - run: npm pack
      - run: yarn
        working-directory: e2e/basic
      - run: yarn add ../../*.tgz
        working-directory: e2e/basic
      - run: yarn rnuc .env
        working-directory: e2e/basic
      - run: ./gradlew assembleDebug
        working-directory: e2e/basic/android
      - run: |-
          ./scripts/assert-android-build-config.sh basic/android/ debug com/basic APP_NAME '"Basic Test"'
          ./scripts/assert-android-resvalues.sh  basic/android/ debug APP_NAME "Basic Test"
          ./scripts/assert-android-r.sh basic/android/ debug com/basic APP_NAME

          ./scripts/assert-android-build-config.sh basic/android/ debug com/basic BUNDLE_ID '"rnuc.basic"'
          ./scripts/assert-android-resvalues.sh  basic/android/ debug BUNDLE_ID "rnuc.basic"
          ./scripts/assert-android-r.sh basic/android/ debug com/basic BUNDLE_ID
        working-directory: e2e

  test-ios-implicit-build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - run: yarn
      - run: npm pack
      - run: yarn
        working-directory: e2e/implicit
      - run: yarn add ../../*.tgz
        working-directory: e2e/implicit
      - run: pod install
        working-directory: e2e/implicit/ios
      - run: xcodebuild -workspace implicit.xcworkspace -scheme implicit-staging -configuration Debug -sdk iphonesimulator -derivedDataPath build
        working-directory: e2e/implicit/ios
      - run: ./scripts/assert-ios-plist.sh implicit/ios implicit "CFBundleDisplayName" "rnuc staging"
        working-directory: e2e
      - run: ./scripts/assert-ios-plist.sh implicit/ios implicit "CFBundleIdentifier" "rnuc.staging"
        working-directory: e2e
      - run: xcodebuild -workspace implicit.xcworkspace -scheme implicit-production -configuration Debug -sdk iphonesimulator -derivedDataPath build
        working-directory: e2e/implicit/ios
      - run: ./scripts/assert-ios-plist.sh implicit/ios implicit "CFBundleDisplayName" "rnuc production"
        working-directory: e2e
      - run: ./scripts/assert-ios-plist.sh implicit/ios implicit "CFBundleIdentifier" "rnuc.production"
        working-directory: e2e

  test-android-implicit-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: sudo apt-get update
      - run: sudo apt-get install -y libxml2-utils
      - run: yarn
      - run: npm pack
      - run: yarn
        working-directory: e2e/implicit
      - run: yarn add ../../*.tgz
        working-directory: e2e/implicit
      - run: ./gradlew assembleDebug
        working-directory: e2e/implicit/android
      - run: |-
          ./scripts/assert-android-build-config.sh implicit/android/ staging/debug com/implicit APP_NAME '"rnuc staging"'
          ./scripts/assert-android-resvalues.sh  implicit/android/ staging/debug APP_NAME "rnuc staging"
          ./scripts/assert-android-r.sh implicit/android/ stagingDebug com/implicit APP_NAME

          ./scripts/assert-android-build-config.sh implicit/android/ staging/debug com/implicit BUNDLE_ID '"rnuc.staging"'
          ./scripts/assert-android-resvalues.sh  implicit/android/ staging/debug BUNDLE_ID "rnuc.staging"
          ./scripts/assert-android-r.sh implicit/android/ stagingDebug com/implicit BUNDLE_ID
        working-directory: e2e
      - run: |-
          ./scripts/assert-android-build-config.sh implicit/android/ production/debug com/implicit APP_NAME '"rnuc production"'
          ./scripts/assert-android-resvalues.sh  implicit/android/ production/debug APP_NAME "rnuc production"
          ./scripts/assert-android-r.sh implicit/android/ productionDebug com/implicit APP_NAME

          ./scripts/assert-android-build-config.sh implicit/android/ production/debug com/implicit BUNDLE_ID '"rnuc.production"'
          ./scripts/assert-android-resvalues.sh  implicit/android/ production/debug BUNDLE_ID "rnuc.production"
          ./scripts/assert-android-r.sh implicit/android/ productionDebug com/implicit BUNDLE_ID
        working-directory: e2e
  test-ios-config:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: install dependencies - lib
        run: yarn
      - name: install dependencies - example
        working-directory: example
        run: yarn
      - name: init env
        working-directory: example
        run: yarn rnuc .env.yaml
      - name: pods (ios only)
        working-directory: example/ios
        run: pod install
      # - name: print file
      #   working-directory: example
      #   run: cat node_modules/react-native-ultimate-config/ios/ConfigValues.h
      - name: install detox stuff
        run: |
          brew tap wix/brew
          brew install applesimutils
          npm install -g detox
      - name: build
        working-directory: example
        run: detox build --configuration ios.sim.release
      - name: Test if config has been injected
        working-directory: example/ios
        run: |
          /usr/libexec/PlistBuddy -c "Print :CFBundleDisplayName" build/Build/Products/Release-iphonesimulator/example.app/Info.plist 2>/dev/null | grep 'RNUC Demo'
      - name: e2e test
        working-directory: example
        run: detox test --configuration ios.sim.release
  test-android-config:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: sudo apt-get update
      - run: sudo apt-get install -y libxml2-utils
      - name: install dependencies - lib
        run: yarn
      - name: install dependencies - example
        run: |
          yarn
          cd android
          yarn rnuc .env.yaml
          ./gradlew assembleDebug
        working-directory: example
      - name: Test if config has been injected
        working-directory: example
        run: |
          grep 'public static final String APP_NAME = "RNUC Demo"' android/app/build/generated/source/buildConfig/debug/com/example/BuildConfig.java
          grep 'public static final String STRING_VALUE = "hello"' android/app/build/generated/source/buildConfig/debug/com/example/BuildConfig.java
          grep 'public static final boolean BOOLEAN_VALUE = false' android/app/build/generated/source/buildConfig/debug/com/example/BuildConfig.java
          grep 'public static final int NUMBER_VALUE = 42' android/app/build/generated/source/buildConfig/debug/com/example/BuildConfig.java
          xmllint --xpath '//resources/string[@name="APP_NAME"]'  android/app/build/generated/res/resValues/debug/values/gradleResValues.xml | grep "RNUC Demo"
          grep APP_NAME android/app/build/generated/not_namespaced_r_class_sources/debug/r/com/example/R.java
          grep STRING_VALUE android/app/build/generated/not_namespaced_r_class_sources/debug/r/com/example/R.java
          grep BOOLEAN_VALUE android/app/build/generated/not_namespaced_r_class_sources/debug/r/com/example/R.java
          grep NUMBER_VALUE android/app/build/generated/not_namespaced_r_class_sources/debug/r/com/example/R.java
          grep "RNUC Demo" android/app/build/intermediates/merged_manifests/debug/AndroidManifest.xml
  unittest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: install dependencies
        run: yarn
      - run: yarn test
